<!DOCTYPE html>
<html lang="en">
<head>

    <title>Dvirstore</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/aos.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css/templatemo-digital-trend.css">

</head>
<body>

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="/">
              <i class="fa fa-line-chart"></i>
              Dvirstore
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a href="/insert-book" class="nav-link smoothScroll">enter a book</a>
                  </li>
                  <li class="nav-item">
                      <a href="/avliable-books" class="nav-link smoothScroll">avliable-books</a>
                  <li class="nav-item">
                      <a href="/health" class="nav-link">db-status</a>
                  </li>
                  <li class="nav-item">
                      <a href="contact.html" class="nav-link contact">Contact</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

    <!-- HERO -->
    <section class="hero hero-bg d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
    
          <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
            <div class="hero-text">
    
              <h1 class="text-white" data-aos="fade-up">The bookstore that stunned the world</h1>
    
              <a href="#" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100" onClick="copyNumber()">Do not call!! We are busy!! (but that's the number)</a>
    
              <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200" id="phoneNumber"><i class="fa fa-phone mr-2"></i> +99 080 070 4224</strong>
            </div>
          </div>
    
          <div class="col-lg-6 col-12">
            <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
              <img src="static/images/working-girl.png" class="img-fluid" alt="working girl">
            </div>
          </div>
    
        </div>
      </div>
    
    </section>


    <!-- ABOUT -->
    <section class="about section-padding pb-0" id="about">
          <div class="container">
              <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                        <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">the best <strong>Bookstore</strong> in the world</h2>

                              <p class="mb-0" data-aos="fade-up">We only work in the <strong>cloud</strong>... which means we don't have a physical store.
                                This is what makes us the <strong>best.</strong>
                              <br><br>On our website you can see which books exist in the system <a href="/avliable-books"><strong>here</strong></a> and enter new books <a href="/insert-book"><strong>here</strong></a> </p>
                        </div>

                        <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="static/images/office.png" class="img-fluid" alt="office">
                        </div>
                    </div>

              </div>
          </div>
    </section>

    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">We sells only the <strong>best</strong> books only.</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +99 080 070 4224
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                Dvirstore@gmail.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Our Studio</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              HaHarash 20 TLV israel
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2023 dvir llc
            <br>
            <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a></p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
            
            <ul class="footer-link">
              <li><a href="#">By from us</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/custom.js"></script>
    <script>
      function copyNumber() {
        var phoneNumber = document.getElementById("phoneNumber");
        var range = document.createRange();
        range.selectNode(phoneNumber);
        window.getSelection().addRange(range);
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
    
        // Create the custom alert box
        var alertBox = document.createElement("div");
        alertBox.classList.add("alert-box");
        alertBox.innerHTML = "Phone number copied to clipboard!";
    
        // Add styles to the custom alert box
        alertBox.style.backgroundColor = "green";
        alertBox.style.color = "white";
        alertBox.style.padding = "15px";
        alertBox.style.position = "fixed";
        alertBox.style.top = "20px";
        alertBox.style.right = "20px";
        alertBox.style.zIndex = "999";
        alertBox.style.borderRadius = "5px";
        alertBox.style.textAlign = "center";
        alertBox.style.fontSize = "16px";
    
        // Append the custom alert box to the body
        document.body.appendChild(alertBox);
    
        // Remove the custom alert box after 3 seconds
        setTimeout(function() {
          document.body.removeChild(alertBox);
        }, 3000);
      }
    </script>

</body>
</html>